<aside class="sidebar">
    <div class="logo">
      <img src="/assets/img/logo.png" alt="" class="logo-sidebar">
    </div>
  
    <nav class="nav">
      <ul>
        <li routerLink="/home" routerLinkActive="active">
            <ion-icon name="home-outline"></ion-icon>
          <span>Home</span>
        </li>
        <hr class="divider">
        <li routerLink="/home" routerLinkActive="active">
            <ion-icon name="checkmark-done-circle-outline"></ion-icon>
            <span>Aprobación</span>
          </li>
          <hr class="divider">
          <li routerLink="/home" routerLinkActive="active">
            <ion-icon name="document-text-outline"></ion-icon>
            <span>Solicitudes</span>
          </li>
          <hr class="divider">
          <li routerLink="/home" routerLinkActive="active">
            <ion-icon name="bar-chart-outline"></ion-icon>
            <span>Reportes</span>
          </li>
          <hr class="divider">
          <li routerLink="/home" routerLinkActive="active">
            <ion-icon name="calendar-outline"></ion-icon>
            <span>Programación</span>
          </li>
          <hr class="divider">
          <li routerLink="/home" routerLinkActive="active">
            <ion-icon name="book-outline"></ion-icon>
            <span>Auditoría</span>
          </li>
          <hr class="divider">
          <li routerLink="/home" routerLinkActive="active">
            <ion-icon name="people-circle-outline"></ion-icon>
          <span>Gestión Cuentas</span>
        </li>
        <hr class="divider">
      </ul>
    </nav>
  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
  

