<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>UrbanIntel-Quienes Somos</title>
  <link rel="stylesheet" href="./quienes-somos.component.scss">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <nav class="navbar">
    <div class="logo">
      <img src="assets/imagenes/7cff6bf4-c274-4c75-be64-e9b65939ffd4-removebg-preview.png" alt="Urban Intel Logo">
    </div>
    <button class="menu-toggle" id="menu-toggle">&#9776;</button> <!-- este e el icono burger pa cuando la pagina se ponga modo responsiva jeje -->
    <ul class="nav-links" id="nav-links">
      <li><a href="landing-page">INICIO <span class="arrow">▼</span></a></li>
      <li><a href="quienes-somos">QUIENES SOMOS <span class="arrow">▼</span></a></li>
      <li><a href="manual">¿CÓMO SE USA? <span class="arrow">▼</span></a></li>
    </ul>
    <div class="spacer"></div> 
  </nav>
  <header class="header" id="home">
    <div class="section__container header__container">
      <h1>URBAN<br /><span>INTEL.</span></h1>
      <p>Conectamos problemas con soluciones.</p>
      </div>
  </header>

  <section class="section__container feature__container" id="service">
    <div class="feature__card">
      <img src="assets/imagenes/comprobacion-de-la-lista-del-portapapeles.png" alt="feature" />
      <div>
        <h4>Reportes Ciudadanos rápidos y directos</h4>
        <p>Conecta con tu municipio y reporta problemas urbanos de forma rápida y sencilla.</p>
      </div>
    </div>
    <div class="feature__card">
        <img src="assets/imagenes/flecha-arriba-del-reloj.png" alt="feature" />
        <div>
        <h4>Gestión Eficiente para Municipios</h4>
        <p>Centraliza, organiza y da seguimiento a los reportes desde una única plataforma.</p>
      </div>
    </div>
    <div class="feature__card">
        <img src="assets/imagenes/red-social.png" alt="feature" />
        <div>
        <h4>Transparencia y Participación</h4>
        <p>Fomenta la participación ciudadana y mejora la confianza en tu gestión municipal.</p>
      </div>
    </div>
  </section>

  <section class="destination" id="destination">
    <div class="section__container destination__container">
      <h2 class="section__header">Nuestro Trabajo</h2>
      <p class="section__description">
        En Urban Intel ofrecemos una plataforma inteligente que conecta a los ciudadanos con sus municipalidades para reportar problemas urbanos de forma rápida, simple y eficiente.

        Desde baches en las calles y luminarias en mal estado hasta problemas de limpieza o infraestructura, nuestro sistema permite que los vecinos informen directamente a las autoridades correspondientes, facilitando una gestión municipal más ágil, transparente y participativa.
        <br><br> Nuestro objetivo es mejorar la calidad de vida urbana, optimizando los canales de comunicación entre la comunidad y el municipio, impulsando ciudades más limpias, seguras y funcionales.       
      </p>
      <div class="destination__grid">
        <div class="destination__card">
          <img class="foto-ciudad" src="assets/imagenes/cerroalegre-sernatur-ATR174-1-1024x540-1 (1).jpg" alt="destination" />
          <div class="destination__content">Valparaíso</div>
        </div>
        <div class="destination__card">
          <img class="foto-ciudad" src="assets/imagenes/Villa-Alemana (1).jpg" alt="destination" />
          <div class="destination__content">Villa Alemana</div>
        </div>
        <div class="destination__card">
          <img class="foto-ciudad" src="assets/imagenes/istockphoto-1127592926-612x612.jpg" alt="destination" />
          <div class="destination__content">Viña del Mar</div>
        </div>
      </div>
    </div>
  </section>

</body>