@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "mapbox-gl/dist/mapbox-gl.css";
:root {
  --primary-color: #FFFFFF; 
  --primary-color-dark: #BC5F04;

}
body {
  height: 100%;
  margin: 0;
  background: linear-gradient(
    to bottom,
    #010001 0%,
    #0C0605 36%,
    #25150E 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
}