.map-container {
  position: relative;
  height: 100vh;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

#map {
  height: 100%;
  width: 100%;
}

/* Mapa responsivo con menú lateral */
@media (min-width: 768px) {
  .map-container.collapsed {
    margin-left: 250px;
    width: calc(100% - 250px);
  }
}

@media (max-width: 767px) {
  .map-container {
    margin-left: 0;
    width: 100%;
  }
}

.filtro-home {
  background-color: transparent;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  margin-top: 2rem;
  margin-bottom: 1rem;

  select.form-control {
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
  }

  .btn {
    font-weight: 600;
    border-radius: 0.5rem;
  }

  .btn i {
    margin-right: 4px;
  }
}

.mapa-container {
  height: 75vh;

  #map {
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
    border: 2px solid #222;
  }
}


